API_ID=16457832
API_HASH=3030874d0befdb5d05597deacc3e83ab
BOT_TOKEN=8384431734:AAFVV6Oi0wqQ_p3aLHpbrj-udiYvii7IQ38
LOGGER_ID=-1002667870369
MONGO_DB_URI=
OWNER_ID=6657539971
STRING_SESSION=AQD7IGgAhtQ2cxNj9RQ-wQRUa8TIhpdE41Ks6HuzxCjXQV9hYTi5ExVN0jr7vb-_N_13DsIQ40EiOZ0vOuSUw2A0PnupohiX8zgtKcgKjL-zLFJlMADJ_fuPnufZF0PTng-OIS2shcfTWpIK-lmoH0G27L6VTWjVxPGMYqhbLoAt3VklJA5StBuk89zOM1uk77-OUj1heXGvVPp-4sre_F_TfN-zd8orgvTVvSEBKoPDpljcGf94H52U3RcPcc2YKLLo3elyY_r2TsJix5Hav095RaroeCSDj7lZ2B8Tr8xSV46E1MACHNhO4Re0qNNgSEY2Vcy5ONuM8U3GdyY0Ivqby3AmEAAAAAH3qboSAA
